{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
    <h1>Выбор комнат</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Seaview</th>
                <th>Number_of_guests</th>
                <th>Typer</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.seaview ? 'Yes' : 'No' }}</td>
                <td>{{ room.numberOfGuests }}</td>
               <td>{{ room.typer }}</td>
                <td>{{ room.price }}</td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id}) }}">show</a>
                    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
        <h2>Пожалуста зарегестрируйтесь или войдите в систему.</h2>
{% endif %}
    {#<a href="{{ path('room_new') }}">Create new</a>#}
{% endblock %}
